body{
	margin:0;
	padding:0;
	background:#fff;
    font-family: 'Montserrat', sans-serif;
 }
body a{
	transition:0.5s all;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Montserrat', sans-serif;	
}	
p,label{
	margin:0;
}
ul{
  margin:0;
  padding:0;
}
