.Social{
    li{
        display: inline-block;

        .Icon{
            border-radius: 100px;
            cursor: pointer;
            display: inline-block;
            font-size: 0.9em;
            width: 35px;
            height: 35px;
            line-height: 37px;
            margin: 0 2px;
            position: relative;
            text-align: center;

            .MyIcons1{
                color:#3B5998;
            }
            .MyIcons2{
                color:#4099ff;
            }
            .MyIcons3{
                color:#CB2028;
            }
            .MyIcons4{
                color:#E04D84;
            }

            span{
                border-radius: 0;
                display: block;
                height: 0;
                left: 50%;
                margin: 0;
                position: absolute;
                top: 50%;
                transition: all 0.3s;
                width: 0;
            }
        }
        .Icon:hover span{
            width: 35px;
            height: 35px;
            border-radius: 100px;
            margin: -18px;
        }
        .Icon:hover .MyIcons1,.Icon:hover .MyIcons2,.Icon:hover .MyIcons3,.Icon:hover .MyIcons4{
            color:white;
        }
        .twitter span {
            background-color: #4099ff ;
        }
        .facebook span{
            background-color: #3B5998;
        }
        .youtube span{
            background-color: #CB2028;
        }
        .instagram span{
            background-color:#E04D84;
        }
    }
}