.HeadText{
    margin:1rem 0;

    .Card li{
        display:inline-block;

        a{
            display:inline-block;
            color: #333;
            font-size: 0.9em;
            margin:0 0.5em;
        }
    }

}